#define wifiSSID "my-wifi-ssid"
#define wifiPassword "my-wifi-password"
#define debugEnabled true
#define apiURL "http://192.xxx.xxx.xxx:8080"
#define defaultOrientation 0
#define targetOrientation 90
#define rotationDuration 700